* {
  font-family: "Noto Sans";
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.logo {
  padding: 6px 0px 14px 0px;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-img {
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 28px 12px;
  width: 220px;
}

.cards {
  max-width: 222px;
  border-radius: 4px;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.cards:hover {
  border: 1px solid black;
}

.data {
  display: flex;
  padding: 0px 4px 8px 8px;
  flex-direction: column;
}

.card-btn {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 6px 14px;
  border: 0px;
  border-radius: 50px;
  margin-top: 8px;
}

.card-btn:hover {
  background-color: rgb(46, 46, 46);
  cursor: pointer;
}

p {
  margin: 8px 0px 0px 0px;
}

.itemsList {
  display: grid;
  margin-top: 40px;
  /* grid-template-columns: repeat(3, 300px); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.cart {
  display: flex;
  flex-direction: column;
}

.align {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 14px 0px 0px;
}

.item-cart {
  display: flex;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 8px;
  margin: 0px 0px 14px 0px;
}

.item-img-cart {
  background-color: #f2f2f2;
  width: 140px;
  padding: 0px 14px;
  border-radius: 8px 0px 0px 8px;
}

.data-cart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  width: 100%;
  margin: 0px;
}

.qty {
  display: flex;
}

.qtyMinusBtn,
.qtyAddBtn {
  border: 0px;
  padding: 0px 14px;
  border-radius: 4px;
  height: 32px;
}

.qty-num {
  margin: 0px;
  padding: 4px 8px;
}

.deleteBtn {
  cursor: pointer;
  border: 0px;
  background: none;
  margin: 0px;
  padding: 3px 0px 0px 0px;
}

.delIcon {
  min-width: 1.7rem;
}

.clearCart {
  font-size: 1rem;
  cursor: pointer;
  padding: 0px 8px;
  border: 0px;
  border-radius: 50px;
  color: black;
  background-color: #ebebeb;
}

.pay-btn {
  background-color: black;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  width: fit-content;
  padding: 12px 24px;
  border: 0px;
  border-radius: 50px;
  margin-top: 8px;
}

.pay-btn:hover {
  background-color: rgb(46, 46, 46);
}

.pay-btn-div {
  display: flex;
  justify-content: center;
}

/* Laptop */
@media (max-width: 1460px) {
  .itemsList {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

/* Tablet */
@media (max-width: 770px) {
  .itemsList {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .data-cart {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 6px 0px 0px 0px;
  }

  .qty-num {
    padding: 4px 8px;
  }

  .qtyMinusBtn,
  .qtyAddBtn,
  .qty-num {
    margin: 6px 0px 0px 0px;
  }

  .deleteBtn {
    margin: 0px 0px 14px 0px;
  }
}

/* Phone */
@media (max-width: 490px) {
  .itemsList {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .item-img-cart {
    margin: 0px 8px 0px 0px;
  }

  .title {
    /* margin-left: 6px; */
    font-size: 0.9rem;
  }

  .item-img-cart {
    width: 120px;
    padding: 20px 12px;
  }

  .data-cart {
    margin: 10px 0px 0px 0px;
  }
}
